{% extends "base.html" %}

{% block content %}
<nav class="navbar navbar-light bg-light"  >
<div class="container-fluid">
    <a class="navbar-brand" href="#">Edit Movie</a>
</div>
</nav>
<br>
<form action="/edit_movie/{{ movies[0] }}" method="POST">
    <div class="form-floating mb-3">
        <input type="text" name="e_title" class="form-control" id="floatingInput" value="{{ movies[1] }}" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" name="e_director" class="form-control" id="floatingPassword" value="{{ movies[2] }}" placeholder="Password">
        <label for="floatingPassword">Password</label>
    </div>
    <div class="form-floating mb-3">
        <input type="number" name="e_year_of_relese" class="form-control" id="floatingPassword" value="{{ movies[3] }}" placeholder="Password">
        <label for="floatingPassword">Password</label>
    </div>
    <div class="form-floating mb-3">
        <input type="number" name="e_rating" class="form-control" id="floatingPassword" value="{{ movies[4] }}" placeholder="Password">
        <label for="floatingPassword">Password</label>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Update</button>
</form>
<!--<form action="/edit_movie/{{ movies[0] }}" method="POST">
    <input type="text" name="e_title" placeholder="Title" value="{{ movies[1] }}">
    <input type="text" name="e_director" placeholder="Director" value="{{ movies[2] }}">
    <input type="number" name="e_year_of_relese" placeholder="Year of Release" value="{{ movies[3] }}">
    <input type="number" name="e_rating" placeholder="Rating" value="{{ movies[4] }}">
    <button type="submit">Update</button>
</form>-->



{% endblock %}