{% extends "base.html"%}

{% block content %}
<div class="container">
    
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Movies Wishlist</span>
            <a href="{{ url_for('logout') }}" class="btn btn-outline-danger">Logout</a>
        </div>
    </nav>
    <br>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Director</th>
            <th>Year of Relese</th>
            <th>My Rating</th>
            <th>Actions</th>
        </tr>
        {% for movies in all_movies %}
        <tr>
            <td>{{ movies[0] }}</td>
            <td>{{ movies[1] }}</td>
            <td>{{ movies[2] }}</td>
            <td>{{ movies[3] }}</td>
            <td>{{ movies[4] }}</td>
            <td>
                <a href="/edit_movie/{{ movies[0] }}">Edit</a> |
                <a href="/delete_movie/{{ movies[0] }}">Delete</a>
            </td>
            
        </tr>
        {% endfor %}
    </table>
    <br>
    <form action="/add_movies" method="POST">
        <div class="form-floating mb-3">
            <input type="text" name="new_movie" class="form-control" placeholder="Title">
            <label for="floatingInput">Title</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" name="new_director" class="form-control" placeholder="Director">
            <label for="floatingPassword">Director</label>
        </div>
        <div class="form-floating mb-3">
            <input type="number" name="year_of_relese" class="form-control" placeholder="Year">
            <label for="floatingPassword">Year</label>
        </div>
        <div class="form-floating mb-3">
            <input type="number" name="my_rating" class="form-control" placeholder="Rating">
            <label for="floatingPassword">Rating</label>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
    <!--<form action="/add_movies" method="POST" class="form-control">
        <input type="text" name="new_movie" placeholder="Name">
        <input type="text" name="new_director" placeholder="Director">
        <input type="number" name="year_of_relese" placeholder="Year of Relese">
        <input type="number" name="my_rating" placeholder="Rating">
        <button type="submit"  class="btn btn-primary">Add</button>
    </form>-->
</div>
{% endblock %}