{% extends "base.html" %}

{% block content %}
<div class="container mt-4">

    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid"> 
            <span class="navbar-brand mb-2 h2"></span> 
            <a href="{{ url_for('login') }}"  class="btn btn-outline-danger">Login</a>
        </div> 
    </nav>

    <form action="/register" method="POST">
        <div class="mb-3">
            <label class="form-label">Username</label>
            <input type="text" class="form-control" name="username" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" name="password" required>
        </div>
        <div class="mb-3">
            <label for="validationCustom04" class="form-label">Role</label>
            <select class="form-select" name="role" required>
                <option selected disabled value="">Choose...</option>
                <option value="teacher">Teacher</option>
                <option value="student">Student</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>

</div>
{% endblock %}